.u-section-1 {
  background-image: linear-gradient(0deg, rgba(51,45,41,0.5), rgba(51,45,41,0.5)), url("images/home-tiny.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-group-1 {
  width: 687px;
  min-height: 416px;
  animation-duration: 1000ms;
  margin: 98px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  animation-duration: 1000ms;
  margin: 54px 0 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 71px 0 0 auto;
  padding: 15px 32px 16px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-group-1 {
    width: 898px;
    min-height: 463px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-group-1 {
    min-height: 438px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 46px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 31px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 25.68% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    min-height: 465px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 43px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-1 .u-group-1 {
    min-height: 477px;
    margin-top: 158px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 29px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 33px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    padding: 12px 30px 13px 28px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 958px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 353px;
  margin: 44px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 804px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 0 1px 0 0;
}

.u-section-2 .u-line-1 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 27px 1px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 27px 0 0;
}

.u-section-2 .u-line-3 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 27px -9px 0 auto;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 804px;
  background-image: url("images/intro-tiny.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 38px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-image-1 {
    min-height: 859px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 658px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 677px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1730px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 44px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 827px;
  }

  .u-section-2 .u-image-1 {
    min-height: 489px;
  }
}.u-section-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 876px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 253px;
  margin: 54px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 597px;
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px 30px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 134px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 42px -15px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 25px 30px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 134px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 42px -15px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 25px 30px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 134px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: 42px -15px 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 25px 30px 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 134px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.5rem;
  margin: 42px -15px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-3 .u-list-1 {
    min-height: 565px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1125px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-3 .u-list-1 {
    min-height: 987px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 25%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2335px;
  }

  .u-section-3 .u-list-1 {
    min-height: 2066px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 85px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 85px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 85px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 85px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 18px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/future-tiny.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 739px;
}

.u-section-4 .u-group-1 {
  width: 864px;
  min-height: 371px;
  margin: 62px 123px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 39px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  background-image: none;
  margin: 24px 16px 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 35px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-group-1 {
    width: 713px;
    margin-top: 45px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-group-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-4 .u-group-1 {
    min-height: 420px;
    margin-top: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 10px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 748px;
}

.u-section-5 .u-image-1 {
  object-position: 50% 100%;
  height: 676px;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  min-height: 371px;
  width: 1140px;
  margin: -506px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 6px 30px 30px;
}

.u-section-5 .u-group-2 {
  width: 1089px;
  min-height: 310px;
  margin: 20px -9px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 34px 16px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 880px;
  }

  .u-section-5 .u-image-1 {
    height: 679px;
    margin-top: 95px;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
    min-height: 430px;
    margin-top: -555px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    min-height: 0;
    width: auto;
    margin-top: 51px;
  }

  .u-section-5 .u-text-2 {
    min-height: 0;
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 840px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-top: -537px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 12px;
    margin-bottom: -13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    min-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    min-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 991px;
  }

  .u-section-5 .u-image-1 {
    height: 819px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: -662px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: 320px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 915px;
  }

  .u-section-5 .u-image-1 {
    height: 744px;
  }

  .u-section-5 .u-group-1 {
    width: 368px;
    min-height: 460px;
    margin-top: -634px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-5 .u-group-2 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: -42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 16px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
    margin-left: 30px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 739px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 599px;
  background-image: url("images/contact1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  width: 257px;
  margin: 40px auto 0;
}

.u-section-6 .u-form-1 {
  height: 310px;
  width: 450px;
  margin: 54px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ae7b5b, #bfa065);
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6 .u-image-1 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-form-1 {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 332px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-6 .u-text-1 {
    width: 164px;
    margin-top: 28px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-6 .u-image-1 {
    min-height: 191px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-6 .u-image-1 {
    min-height: 272px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 355px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 63px auto 63px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-1 {
  height: 70px;
  width: 70px;
  color: rgb(255, 255, 255) !important;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 22px 24px 0 36px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 30px auto 0 132px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  margin: 32px 37px 0 23px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 0;
}

.u-section-7 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 30px auto 0 116px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  margin: 22px 32px 0 -2px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-7 .u-icon-1 {
    height: 75px;
    width: 75px;
    margin-top: 18px;
    margin-right: 98px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-7 .u-icon-2 {
    height: 83px;
    width: 83px;
    margin-top: 18px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 14px;
    margin-left: 36px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-7 .u-icon-3 {
    height: 84px;
    width: 84px;
    margin-top: 18px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-icon-1 {
    height: 57px;
    width: 57px;
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 22px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-7 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-right: auto;
    margin-left: 316px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-icon-3 {
    height: 57px;
    width: 57px;
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 26px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-icon-1 {
    height: 70px;
    width: 70px;
    margin-top: 18px;
    position: relative;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-7 .u-icon-2 {
    height: 74px;
    width: 74px;
    position: relative;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-top: 23px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-icon-3 {
    height: 84px;
    width: 84px;
    margin-top: 18px;
    position: relative;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-top: 23px;
    margin-right: 14px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 9px;
    margin-right: 128px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-7 .u-icon-2 {
    height: 72px;
    width: 72px;
    margin-top: 18px;
    margin-right: 128px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 142px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-7 .u-icon-3 {
    height: 79px;
    width: 79px;
    margin-top: 0;
    margin-right: 119px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 9px;
  }
}